<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>RoastBackend</display-name>
	<servlet>
		<servlet-name>GetReview</servlet-name>
		<display-name>GetReview</display-name>
		<description></description>
		<servlet-class>GetReview</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertReview</servlet-name>
		<display-name>InsertReview</display-name>
		<description></description>
		<servlet-class>InsertReview</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetCafeDrinks</servlet-name>
		<display-name>GetCafeDrinks</display-name>
		<description></description>
		<servlet-class>GetCafeDrinks</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetCafeFoods</servlet-name>
		<display-name>GetCafeFoods</display-name>
		<description></description>
		<servlet-class>GetCafeFoods</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetCafeImages</servlet-name>
		<display-name>GetCafeImages</display-name>
		<description></description>
		<servlet-class>GetCafeImages</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetCafeGear</servlet-name>
		<display-name>GetCafeGear</display-name>
		<description></description>
		<servlet-class>GetCafeGear</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetCarouselFilenames</servlet-name>
		<display-name>GetCarouselFilenames</display-name>
		<description></description>
		<servlet-class>GetCarouselFilenames</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetCafeDrinks</servlet-name>
		<url-pattern>/GetCafeDrinks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCafeFoods</servlet-name>
		<url-pattern>/GetCafeFoods</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCafeImages</servlet-name>
		<url-pattern>/GetCafeImages</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCafeGear</servlet-name>
		<url-pattern>/GetCafeGear</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertReview</servlet-name>
		<url-pattern>/PutReview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetReview</servlet-name>
		<url-pattern>/GetReview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCarouselFilenames</servlet-name>
		<url-pattern>/GetCarouselFilenames</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/404.html</location>
	</error-page>
</web-app>
