<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>RoastBackend</display-name>
	<servlet>
		<servlet-name>FindMyDrink</servlet-name>
		<display-name>FindMyDrink</display-name>
		<description></description>
		<servlet-class>FindMyDrink</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FindACafe</servlet-name>
		<display-name>FindACafe</display-name>
		<description></description>
		<servlet-class>FindACafe</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListAllDrinks</servlet-name>
		<display-name>ListAllDrinks</display-name>
		<description></description>
		<servlet-class>ListAllDrinks</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListAllCafes</servlet-name>
		<display-name>ListAllCafes</display-name>
		<description></description>
		<servlet-class>ListAllCafes</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyDrink</servlet-name>
		<display-name>ModifyDrink</display-name>
		<description></description>
		<servlet-class>ModifyDrink</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetCafeDrinks</servlet-name>
		<display-name>GetCafeDrinks</display-name>
		<description></description>
		<servlet-class>GetCafeDrinks</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetCafeFoods</servlet-name>
		<display-name>GetCafeFoods</display-name>
		<description></description>
		<servlet-class>GetCafeFoods</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetCafeImages</servlet-name>
		<display-name>GetCafeImages</display-name>
		<description></description>
		<servlet-class>GetCafeImages</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CafeFoodDBServlet</servlet-name>
		<display-name>CafeFoodDBServlet</display-name>
		<description></description>
		<servlet-class>CafeFoodDBServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CafeGearDBServlet</servlet-name>
		<display-name>CafeGearDBServlet</display-name>
		<description></description>
		<servlet-class>CafeGearDBServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetCafeGear</servlet-name>
		<display-name>GetCafeGear</display-name>
		<description></description>
		<servlet-class>GetCafeGear</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindMyDrink</servlet-name>
		<url-pattern>/FindMyDrink</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindACafe</servlet-name>
		<url-pattern>/FindACafe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListAllDrinks</servlet-name>
		<url-pattern>/ListAllDrinks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListAllCafes</servlet-name>
		<url-pattern>/ListAllCafes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyDrink</servlet-name>
		<url-pattern>/ModifyDrink</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCafeDrinks</servlet-name>
		<url-pattern>/GetCafeDrinks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCafeFoods</servlet-name>
		<url-pattern>/GetCafeFoods</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCafeImages</servlet-name>
		<url-pattern>/GetCafeImages</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CafeFoodDBServlet</servlet-name>
		<url-pattern>/CafeFoodDBServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CafeGearDBServlet</servlet-name>
		<url-pattern>/CafeGearDBServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCafeGear</servlet-name>
		<url-pattern>/GetCafeGear</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/404.html</location>
	</error-page>
</web-app>
